<div class="footer_bottom">
  <div class="footer_bottom_conteudo">
    <div class="info_text">
      <nav id="footer_nav">
        <ul id="footer_menu">
          <li class="menu-item-footer">
            <a href="#seguro">Site seguro</a>
          </li>
          <li class="menu-item-footer">
            <a href="#regulamento">Regulamento</a>
          </li>
          <li class="menu-item-footer">
            <a href="#privacidade">Portal de Privacidade</a>
          </li>
          <li class="menu-item-footer">
            <a href="#vagas">Trabalhe Conosco</a>
          </li>
          <li class="menu-item-footer">
            <a href="#incentivo">Para Empresas</a>
          </li>
        </ul>
      </nav>

      <p class="texto_bottom_footer">
        @ 2021 PointZ. Todos os direitos reservados.
      </p>
    </div>
  </div>
</div>
