@import "./../../shared/shared.component.scss";

#LOGIN {
  padding: $big-margin-top 0;
  background: orange;
  display: flex;
  flex-grow: 2;

  .log-box {
    form {
      display: flex;
      flex-direction: column;
    }
    max-width: 600px;
    margin: 0 auto;
  }
}
