@use '~@angular/material' as mat;

$my-palette: mat.$indigo-palette;

#WRAPPER {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  height: 100vh;

  #main {
    flex: 2;
    background: orange;
  }
}
