<div id="LOGIN">
  <div class="log-box">
    Cadastre o seu usuário
    <form [formGroup]="loginForm" (ngSubmit)="onComplete()">
      <mat-form-field appearance="fill">
        <mat-label>Seu nome</mat-label>
        <input matInput id="name" formControlName="name" required/>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>E-Mail</mat-label>
        <input matInput id="email" formControlName="email" required/>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput id="password"  type="email" [formControl]="emailValidator" formControlName="password" required />
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!loginForm.valid"
      >
        Criar Usuário
      </button>
    </form>

    <div *ngIf='submitted'>Usuário Cadastrado! <a [routerLink]="['/login']">Fazer Login</a></div>
  </div>
</div>
