<div id="LOGIN">
  <div class="log-box">
    Cadastre o seu usuário
    <form [formGroup]="loginForm" (ngSubmit)="onComplete()">
      <mat-form-field appearance="fill">
        <mat-label>Seu nome</mat-label>
        <input matInput id="name" formControlName="name" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>E-Mail</mat-label>
        <input matInput id="email" formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput id="password" formControlName="password" />
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!loginForm.valid"
      >
        Criar Usuário
      </button>
    </form>
  </div>
</div>
